# Virtual environment
.venv/

# Build and distribution artifacts
build/
dist/

# Log files
locha_debug.log

# Pyinstaller spec files (except LoCha's build recipe)
*.spec
!LoCha.spec

# Python bytecode cache
__pycache__/
